:root {
  --primary-color: #fff;
  --accent-color: #ff004f;
  --background-color: #080808;
  --highlight-color: #FF5733;
  --text-color: #ababab;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); /* Optional background color */
  padding: 1rem;
  margin-top: auto; /* Pushes the nav to the bottom */
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: right 0.5s ease;
}

nav ul li {
  margin: 10px 20px;
}

nav ul li a {
  color: var(--primary-color); /* Keep original color */
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--primary-color); /* Keep original color */
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  color: #333;
}

footer p {
  margin: 0;
}

.open-icon {
  display: none;
  font-size: 25px;
  color: var(--primary-color);
  cursor: pointer;
  display: none;
}

.close-icon {
  display: none; /* Default display */
  font-size: 25px;
  color: var(--primary-color);
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
  }
  .open-icon {
    display: block;
  }
  nav .title {
    display: none;
  }

  nav ul {
    background: var(--background-color); /* Adjust background color */
    position: fixed;
    top: 0;
    right: -100%; /* Hide off-screen initially */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    transition: right .8s ease; /* Smooth transition for sliding in/out */
  }

  nav ul.open {
    right: 0;
  }

  nav ul li {
    margin: 15px 0;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 15px 0;
    text-align: center;
  }

  .close-icon {
    display: none; /* Default display */
  }

  /* When the menu is open */
  .menu-open .open-icon {
    display: none; /* Hide open-icon when menu is open */
  }

  .menu-open .close-icon {
    display: block; /* Show close-icon when menu is open */
  }
}
